[submodule "SOLD2"]
	path = SOLD2
	url = https://github.com/cvg/SOLD2
[submodule "DeepLSD"]
	path = DeepLSD
	url = https://github.com/cvg/DeepLSD.git
[submodule "TP-LSD"]
	path = TP-LSD
	url = https://github.com/Siyuada7/TP-LSD.git
[submodule "Unified-Line-Segment-Detection"]
	path = Unified-Line-Segment-Detection
	url = https://github.com/lh9171338/Unified-Line-Segment-Detection.git
[submodule "LETR"]
	path = LETR
	url = https://github.com/mlpc-ucsd/LETR.git
[submodule "Deep-Hough-Transform-Line-Priors"]
	path = Deep-Hough-Transform-Line-Priors
	url = https://github.com/yanconglin/Deep-Hough-Transform-Line-Priors.git
[submodule "F-Clip"]
	path = F-Clip
	url = https://github.com/Delay-Xili/F-Clip
[submodule "mlsd"]
	path = mlsd
	url = https://github.com/navervision/mlsd
[submodule "afm_cvpr2019"]
	path = afm_cvpr2019
	url = https://github.com/cherubicXN/afm_cvpr2019
[submodule "lcnn"]
	path = lcnn
	url = https://github.com/zhou13/lcnn.git
